# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger: none

pool:
  name: 'dwipool'
  demands:
    - agent.name -equals dwiagent



stages:
  - stage: Build_Package
    jobs:
    # - job: Build
    #   displayName: BuildJob
    #   steps:
    #     - script: |
    #         mvn clean package
    #       displayName: Build&PackageCode
    #     - script: |
    #         ls -lrt $(System.DefaultWorkingDirectory)/target
    #       displayName: SeeTheWarFile
          
    # - job: Push_To_Blob
    #   dependsOn: Build
    #   displayName: 'PUsh to Azure Blob Storage'
    #   steps:
    #     - task: AzureCLI@2
    #       displayName: 'Pushing to Blob Storage '
    #       inputs:
    #         azureSubscription: 'blobupload'
    #         scriptType: 'bash'
    #         scriptLocation: 'inlineScript'
    #         inlineScript: |
    #           az storage blob upload \
    #           --account-name companyartifacts \
    #           --container-name productionsartifacts \
    #           --file target/*.war \
    #           --name $(date +%F)/DevOps-CICD-war-0.1.war \
    #           --overwrite
    #     - script: |
    #         echo  "Upload Done"
    #       condition: succeeded()
    #       displayName: UploadStatus

    - job: Deploy_to_remobe
      steps:
        - task: DownloadSecureFile@1
          name: sshkey
          inputs:
            secureFile: 'ado_privatekey'
        - script: |
            set -e

            chmod 400 $(sshkey.secureFilePath)

            echo "Finding WAR file..."
            WAR_FILE=$(ls $(System.DefaultWorkingDirectory)/target/*.war | head -n 1)
            WAR_NAME=$(basename "$WAR_FILE")
            echo $WAR_NAME
            echo "Copying WAR to remote server..."
            scp -o StrictHostKeyChecking=no \
                -i $(sshkey.secureFilePath) \
                "$WAR_FILE" \
                azureuser@52.172.153.119:/home/azureuser/tomcat/apache-tomcat-9.0.113/

            echo "Deploying on remote server..."
            ssh -o StrictHostKeyChecking=no \
                -i $(sshkey.secureFilePath) \
                azureuser@52.172.153.119 << 'EOF'
                
                  cd /home/azureuser/tomcat/apache-tomcat-9.0.113/bin
                  pwd
                  
                  rm -rf /home/azureuser/tomcat/apache-tomcat-9.0.113/webapps/*.war
                  echo "$WAR_NAME"
                  cp /home/azureuser/tomcat/apache-tomcat-9.0.113/"$WAR_NAME" /home/azureuser/tomcat/apache-tomcat-9.0.113/webapps/
                  p_id=$(ps -ef| grep -i tomcat | grep -v grep | awk '{print $2}' )
                  echo "$p_id"
                  #cd /home/azureuser/tomcat/apache-tomcat-9.0.113/webapps/bin
                  # ./startup.sh
                EOF
          displayName: Deploy WAR to remote Tomcat
            
            

# Learnings :  If we have 10 Subnets and 10 VM , 1 VM in each subnet . So only 1 private endpoint is needed to access the 
# storage account from 10 different subnets.


### Perform Terraform corruption scenario where lets say my apply failed due to IP exhaustion and it only have created 5 VM 
### out of 10 and state file is no longer has the changes as the apply failed.
### So now either we have to remove the changes fro the cloud or add the entires into the state file and repush the state file 
### to the remote. So how to do this import + repushing scenario.


