# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger: none

pool:
  name: 'dwipool'
  demands:
    - agent.name -equals dwiagent



stages:
  - stage: Build_Package
    jobs:
    - job: Build
      steps:
        - script: |
            mvn clean package
          displayName: Build&PackageCode
        - script: |
            ls -lrt $(System.DefaultWorkingDirectory)/target
          displayName: SeeTheWarFile

